body{
	background-color: #fafafa;
}
body > header, body > section.container{
	background-color: #E0E0E0;
	box-shadow: 0 0 10px rgba(0,0,0,0.3);
}
body > section.container{
	border-radius: 5px;
	margin: 20px auto;
	padding: 20px 0;
}
section header ul{
	margin-top:5px;
}

header.main-navbar .nav > li> a{
	color: #fff;
}
header.main-navbar .nav > li> a:hover{
	background-color: #F90;
}
header.main-navbar .navbar-default{
	background-color: #F60;
}
header.main-navbar .navbar-default .navbar-brand{
	color: white;
	font-weight: bold;
}
.maps iframe{
	height: 250px; 
	width: 100%; 
}
article.tour-description{
	padding: 45px 15px 15px;
	overflow: hidden;
}
.tour-description h1{
	text-shadow: white 0.1em 0.1em 0.2em;
}
.tour-description p{
	margin-left: 10px;
	margin-right: 10px;
}
.tour-description h3{
	margin-left: 10px;
}
.routes-navbar a{
	text-shadow: 1px 1px 0px #ffffff;
}
.routes-navbar a.vina{color: #777;}
.routes-navbar a.concon{color: #f90;}
.routes-navbar a.renaca{color: #f00;}
.routes-navbar a.valparaiso{color: #6cc;}
.routes-navbar a.puerto{color: #39f;}
.routes-navbar a.torpederas{color: #66f;}
.routes-navbar a.nocturno{color: #123456;}
.routes-navbar a.laguna{color: #f06;}
footer{
	background-color: #666;
}
address .phone, address .phone:visited{
	color: #FF0066;
}
address, address .email{
	color: #fff;
}
.lightblue{
	color: #09F;
}
.lightgreen{
	color: #6C6;
}
.orange{
	color: #F60;
	background-color: #F60;
}
.cyan{
	color: #33CCD6;
}
.red{
	color: #F30;
}
.spacer-5 { height: 5px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer-10 { height: 10px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer-15 { height: 15px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer-20 { height: 20px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer-25 { height: 25px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer-30 { height: 30px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer-35 { height: 35px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer-40 { height: 40px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer-45 { height: 45px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer-50 { height: 50px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer-100 { height: 100px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer-200 { height: 200px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
	header.navbar{
		padding: 0 10px;
	}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
	header.navbar{
		padding: 0 15px;
	}
	.tour-description p{
		margin-left: 0;
	}
	.tour-description h3{
		margin-left: 0;
	}
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
	.maps iframe{
		height: 350px; 
	}
	header.navbar{
		padding: 0 20px;
	}
}